@model CategoryListViewModel






<div class="list-group">
    @foreach (var category in Model.Categories)
    {
        var css = "nav-link";
        if (category.CategoryId == Model.CurrentCategory)
        {
            css += " active";
        }
        <li class="nav-item active">
            <a class="@css" href="/product/index?category=@category.CategoryId">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>@category.CategoryName</span>
            </a>
        </li>

        <hr class="sidebar-divider my-0">
    }
</div>
@*<li class="nav-item active">
    <a class="nav-link" href="index.html">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
    </a>
</li>*@